/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        r_pinky_dance: r_pinky_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "R_PINKY_DANCE";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp QUESTION>, <&kp EXCLAMATION>;
        };

        rpinkydancemod: rpinkydancemod {
            compatible = "zmk,behavior-mod-morph";
            label = "RPINKYDANCEMOD";
            bindings = <&r_pinky_dance>, <&kp COMMA>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        colon_dance: colon_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "COLON_DANCE";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMICOLON>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q           &kp W  &kp E       &kp R                                     &kp T        &kp Y        &kp U                &kp I     &kp O            &kp P            &none
&none  &mt LCTRL A     &kp S  &mt LALT D  &mt LEFT_COMMAND F                        &kp G        &kp H        &mt RIGHT_COMMAND J  &kp K     &kp L            &colon_dance     &none
&none  &sk LEFT_SHIFT  &kp Z  &kp X       &kp C                                     &kp V        &kp B        &kp N                &kp M     &rpinkydancemod  &sk RIGHT_SHIFT  &none
                              &kp LCTRL   &mt C_AC_NEXT_KEYBOARD_LAYOUT_SELECT TAB  &lt 1 ESC    &lt 2 SPACE  &lt 4 ENTER          &kp BSPC
            >;
        };

        Vim {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp ESC  &kp O  &kp W    &kp R  &kp Y     &kp LEFT_PARENTHESIS  &kp B      &kp UP       &kp E      &kp RIGHT_PARENTHESIS  &none
&none  &kp A    &kp S  &kp D    &kp F  &kp I     &kp CARET             &kp LEFT   &kp DOWN     &kp RIGHT  &kp DOLLAR             &trans
&none  &mo 2    &kp Z  &kp P    &kp C  &kp V     &kp LEFT_BRACE        &kp LC(D)  &kp PERCENT  &kp LC(U)  &kp RIGHT_BRACE        &trans
                       &kp ESC  &kp U  &trans    &kp LCTRL             &kp LSHFT  &kp G
            >;
        };

        Num_Sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp BACKSLASH   &kp N1  &kp N2        &kp N3   &kp MINUS    &kp UNDERSCORE    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LBKT          &kp RBKT       &none
&none  &kp ASTRK       &kp N4  &kp N5        &kp N6   &kp PLUS     &kp EQUAL         &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE  &kp QUESTION   &none
&none  &sk LEFT_SHIFT  &kp N7  &kp N8        &kp N9   &kp ENTER    &kp GREATER_THAN  &kp SLASH             &kp DOT                &kp PIPE          &kp AMPERSAND  &none
                               &kp NUMBER_0  &kp TAB  &kp SPACE    &trans            &kp COLON             &kp GREATER_THAN
            >;
        };

        Applications {
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &trans    &ide    &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Lyr5 {
            if-layers = <1 2>;
            then-layer = <5>;
        };
    };
};
